# Maven build directory
/target/

# IDE specific files
.nb-gradle/
.nb-gradle.properties
/nbactions.xml
/nb-configuration.xml
/.nb-configuration/
/build/
/nbbuild/
/nbproject/private/
/dist/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/nbproject/project.xml
/nbproject/ant-deploy.xml
/nbproject/ant-include-mask.xml
/nbproject/javadoc-private.xml
/nbproject/jax-ws-catalog.xml
/nbproject/maven-compiler.xml
/nbproject/maven-embedded.xml
/nbproject/maven-jaxws-catalog.xml
/nbproject/maven-properties.xml
/nbproject/maven-surefire.xml
/nbproject/nb-configuration.xml
/nbproject/private/
/nbproject/profiler.xml
/nbproject/project-impl.xml
/nbproject/run.properties
/nbproject/nbjpda.properties
/nbproject/spring-context.xml
/nbproject/spring-namespacehandler.xml
/nbproject/test/
/nbproject/coverage/
/nbproject/nb-configuration.xml
/nbproject/nbactions.xml
/nbproject/netbeans.xml
/nbproject/private/
/nbproject/profiler.xml
/nbproject/project.xml
/nbproject/project-impl.xml
/nbproject/test/
/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/private/configs/
/nbproject/private/configs/*/private.properties
/nbproject/private/configs/*/private.xml
/nbproject/private/configs/*/build.properties.data
/nbproject/private/configs/*/nbactions.xml
/nbproject/private/configs/*/nb-configuration.xml
/nbproject/private/configs/*/private/
/nbproject/private/configs/*/private/*.properties
/nbproject/private/configs/*/private/*.xml

# NetBeans specific cache directories
/var/
/nbproject/backup/

# Other generated files
*.iml
*.ipr
*.iws

/src/main/java/config.properties
